*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.home-btn-2 {
  display: none;
}

.toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .home-btn {
    display: none;
  }
  .home-btn-2 {
    display: block;
  }
  .home-btn-2 a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
  }
  .header {
    position: sticky;
    top: 0;
    padding: 20px 10px;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .main-nav {
    background-color: rgba(255, 204, 211, 0.9); /* edit last value for opacity*/
    position: absolute;
    right: 0;
    top: 100%;
    width: 80%; /* edit to 100% for full width menu on mobile*/
    transform-origin: right;
    transform: scale(0, 1);
    text-align: center;
    transition: transform 250ms ease;
    padding: 0;
  }
  .main-menu {
    /* height: 100vh; */
    /*uncomment this for half height or 100% menu */
  }
  .nav-item {
    width: unset;
    display: block;
  }
  .nav-link {
    display: inline-block;
    color: #000;
    font-size: 1.2rem;
    line-height: 1rem;
    padding: 0.75em 0;
    opacity: 0;
    transition: opacity 250ms ease;
  }
  .toggle-label {
    cursor: pointer;
    display: block;
    padding: 1rem;
    width: 4rem;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(255, 187, 153); */
  }
  /* humburger lines */
  /* middle hamburger line color: white for deb */
  .toggle-label span {
    display: block;
    width: 1.5rem;
    height: 3px;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    transition: transform 250ms cubic-bezier(0, 0.37, 0.13, 1.54);
  }
  /* second and 3rd lines - edit colors and width */
  /*  1st line = */
  .toggle-label span::before,
.toggle-label span::after {
    content: "";
    position: absolute;
    width: 2rem; /* width can be edited */
    height: 3px; /* same as width can be edited */
    background-color: red; /* can be edited */
    top: -10px;
    border-radius: inherit;
  }
  /*  third line = black */
  .toggle-label span::after {
    top: 10px;
    width: 2rem;
    background-color: #000;
  }
  /* rotate all lines  */
  .toggle:checked ~ .toggle-label span {
    transform: rotate(135deg);
    width: 100%;
  }
  /* makes the third line and x */
  .toggle:checked ~ .toggle-label span::before,
.toggle:checked ~ .toggle-label span::after {
    top: 0px;
    width: 100%;
    transform: rotate(90deg);
  }
  .toggle:checked ~ .toggle-label span::before {
    display: none;
  }
  /* show menu when hamburger is checked */
  .toggle:checked ~ .main-nav {
    transform: scale(1, 1);
  }
  .toggle:checked ~ .main-nav .nav-link {
    opacity: 1;
    transition: opacity 250ms ease 250ms;
  }
  /* rotate on hover hamburger menu on hover  */
  .toggle:checked:hover ~ .toggle-label span {
    transform: rotate(225deg);
  }
  .main-h2 {
    font-size: 2rem;
  }
  /* transparent and white border around image on mobile view */
  .olive .home-hero {
    border: 3px solid transparent;
  }
}

/*# sourceMappingURL=mobile-nav.css.map */
