.body,
ul,
li,
h1,
h2,
a {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: arial;
  width: 100%;
}

header {
  background-color: #996633;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: white;
  font-size: 48px;
  /* border: 2px dotted black; */
}
nav {
  background-color: whitesmoke;
  padding: 20px;
  position: sticky;
  top: 100px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: black;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
}
article h2 {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  font-size: 48px;
}
article p {
  line-height: 2em;
  font-size: 24px;
  color: gray;
}
.olive {
  width: 100%;
  /* position: relative; */
}
.olive img {
  max-width: 100%;
  /* object-fit: cover; */
  border: 2px solid #000;
  width: 100%;
  display: block;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  background: #996633;
  color: black;
  width: 100%;
  text-align: center;
  padding: 10px;
}
nav li a:hover {
  text-decoration: underline;
  background-color: #ccccff;
}
.icons {
  padding-top: 0.2rem;
}
.icons a {
  text-decoration: none;
  font-size: 32px;
  margin: 8px;
  color: #fcfdfd;
}
.copyright {
  font-size: 25px;
  margin-top: 8px;
  color: gray;
}
