body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #996633;
  padding: 10px;
  width: 100%;
  z-index: 1;
}

header h1 {
  color: white;
  font-size: 48px;
}

@media only screen and (max-width: 768px) {
  header h1 {
    display: none;
  }
}
nav {
  background-color: #ebfafa;
  padding: 20px;
  /* border: 5px solid blue; */
  position: sticky;
  top: 100px;
}
nav ul {
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li {
  width: 25%;
  display: inline-block;
  font-size: 24px;
}
nav li a {
  text-decoration: none;
  color: black;
}
main {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  /* border: 2px dotted red; */
  font-size: 20px;
}
span {
}
.Grove {
  /* border: 2px solid blue; */
  max-width: 100%;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;
  width: 1200px;
  font-size: 20px;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  background: #996633;
  color: black;
  width: 100%;
  text-align: center;
  padding: 10px;
}
nav li a:hover {
  text-decoration: underline;
  background-color: #ccccff;
}
.icons {
  padding-top: 0.2rem;
}
.icons a {
  text-decoration: none;
  font-size: 32px;
  margin: 8px;
  color: #fcfdfd;
}
.copyright {
  font-size: 25px;
  margin-top: 8px;
}
